# stg/prod のデプロイ先へ登録するAuth環境変数
NEXT_PUBLIC_API_BASE_URL=https://api.example.com
NEXT_PUBLIC_APP_BASE_URL=https://app.example.com
NEXT_PUBLIC_ADMIN_BASE_URL=https://admin.example.com
NEXT_PUBLIC_INFO_BASE_URL=https://info.example.com
NEXT_PUBLIC_HELP_BASE_URL=https://help.example.com
NEXT_PUBLIC_CONTACT_BASE_URL=https://contact.example.com
# local / stg / prod
NEXT_PUBLIC_APP_ENV=prod
