# stg/prod のデプロイ先へ登録するInfo環境変数
NEXT_PUBLIC_API_BASE_URL=https://api.example.com
NEXT_PUBLIC_AUTH_BASE_URL=https://auth.example.com
NEXT_PUBLIC_APP_BASE_URL=https://app.example.com
NEXT_PUBLIC_HELP_BASE_URL=https://help.example.com
NEXT_PUBLIC_CONTACT_BASE_URL=https://contact.example.com
